<!-- Mainly Plugin Scripts -->
<script src="js/jquery/js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/metismenu/js/metisMenu.min.js"></script>
<script src="js/pace-js/js/pace.min.js"></script>
<script src="js/wow.js/js/wow.min.js"></script>
<script src="js/lucide/js/lucide.min.js"></script>
<script src="js/simplebar/js/simplebar.min.js"></script>
<script src="js/dropzone/js/dropzone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
<!-- ✅ Load Monaco via RequireJS -->
<script src="js/inspinia.js"></script>