@@if (context.title !== undefined) {
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="fw-normal fs-18">@@title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>            
            <li class="breadcrumb-item active">
                <span class="ff-secondary fw-medium">@@title</span>
            </li>
        </ol>
    </div>
</div>
}

@@if (context.title === undefined) {
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="mb-0">Welcome</h2>
    </div>
</div>
}