<!-- Sidenav Menu Start -->
<nav class="navbar-default" role="navigation">
    <div class="sidebar-collapse">
        <a class="close-canvas-menu"><i class="fa fa-times"></i></a>

        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img alt="brand-image" src="img/logo-white.png" height="28" class="sidebar-logo-white" />
                <img alt="brand-image" src="img/logo-black.png" height="28" class="sidebar-logo-black" />
            </a>

            <div class="logo-element">
                <img alt="image" src="img/logo-sm.png" height="28" />
            </div>

            <div class="dropdown profile-element">
                <img alt="image" class="rounded-circle" src="img/users/avatar-1.jpg" height="48" />

                <a data-bs-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="d-block mt-1 fw-semibold fs-14 ff-secondary">Damian D.</span>
                    <span class="text-muted text-xs d-block ff-secondary">Art Director <b class="caret"></b></span>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Contacts</a></li>
                    <li><a class="dropdown-item" href="#">Mailbox</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>

        <ul class="nav metismenu" id="side-menu">
            <li>
                <a href="file_manager.html">
                    <i data-lucide="file-text"></i>
                    <span class="nav-label">File Manager</span>
                </a>
            </li>
            <li>
                <a href="rule_manager.html">
                    <i data-lucide="file-text"></i>
                    <span class="nav-label">Rule Manager</span>
                </a>
            </li>            
        </ul>
    </div>
</nav>
<!-- Sidenav Menu End -->